.DS_Store
# *.c
*.tab.c
*.tab.h
lex.yy.c
*.out
*.output
*.dot
*.exe
*.o
*.s
# *.h
.vscode
# *.py
*.pdf
*.csv
*.txt
!*report.pdf
!milestone3/src/allocmem.s
!milestone3/src/printstr.s
!milestone3/src/print.s
personal_docs/
